<html>
<head>
    <title>Authentication</title>
</head>
<body>
    <h1>Please enter your login and password</h1>
    {% if show_error %}
    <p style="color: red;">Incorrect username or password. Please try again.</p>
    {% end %}
    <form action="/auth/" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>