
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>Video Mix List</h1>
    <ul>
        {% for video_mix in video_mixes %}
        <li>
            {{video_mix.timestamp_started.strftime('%Y-%m-%d %H:%M')}}
            <a href="/video_mix/{{ video_mix.id }}">{{ video_mix.task_string }}</a>
            ({{ video_mix.status.value }})
            {% if video_mix.status.name == 'SUCCEED' %}
            <a href="/video_mix_download/{{ video_mix.output_file }}">Download</a>
            {% end %}
        </li>
        {% end %}
    </ul>
</body>
</html>