
<html>
    <head>
        <title>File Upload</title>
        <script>
            function uploadFile(){
                var fileInput = document.getElementById('fileInput');
                var fileName = document.getElementById('fileName').value;

                let formData = new FormData();
                formData.append('file', fileInput.files[0]);
                formData.append('fileName', fileName);

                var xhr = new XMLHttpRequest();
                document.getElementById('response').innerHTML = 'Uploading...';

                xhr.open('POST', '/upload', true);
                xhr.onload = function(){
                    if(xhr.status == 200){
                        var uploadData = JSON.parse(xhr.response);
                        var uploadedFile = uploadData['file_id'];
                        document.getElementById('response').innerHTML = 'File ' + uploadedFile + ' uploaded successfully!';
                        document.getElementById('generateTask').value = document.getElementById('generateTask').value + ' ' + uploadedFile;
                    } else {
                        document.getElementById('response').innerHTML = xhr.response;
                    }
                }
                xhr.send(formData);
            }

            function generateFile(){
                var generateTask = document.getElementById('generateTask').value;

                let formData = new FormData();
                formData.append('generateTask', generateTask);

                var xhr = new XMLHttpRequest();
                document.getElementById('response2').innerHTML = 'Generating...';
                xhr.open('POST', '/generate', true);
                xhr.onload = function(){
                    if(xhr.status == 200) {
                        // var data = JSON.parse(xhr.response);
                        document.getElementById('response2').innerHTML = xhr.response;
                    } else {
                        document.getElementById('response2').innerHTML = xhr.response;
                    }
                }
                xhr.send(formData);

            }
        </script>


    </head>
    <body>
        <h1>Upload File</h1>
        <form method="POST" action="/upload" enctype="multipart/form-data">
            <input type="file" name="fileInput" id="fileInput" />
            <input type="text" name="fileName" id="fileName" placeholder="Enter filename" />
            <button type="button" onclick="uploadFile()">Upload</button>
        </form>
        <div id="response"></div>
        <h1>Generate Video</h1>
        <form method="POST" action="/generate" enctype="multipart/form-data">
            <textarea id="generateTask" rows="10" cols="50">

            </textarea>
            <button type="button" onclick="generateFile()">Generate</button>
        </form>
        <div id="response2"></div>
    </body>
</html>